.menuPage {
    .banner {
        padding: 50px;
        background-position: top;
    }

}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 90%;
    margin: 100px auto;
    max-width: 768px;

    .col {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            padding: 20px;
            background-color: #f2f6ff;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: calc(100% - 40px);
                height: 1px;
                background-color: #d9dde5;
                bottom: 0;
                left: 20px;
                // transform: translate(-50%);
                z-index: 1;


            }

        }

        .img {
            width: 100%;
            object-fit: cover;
        }

    }

}

@media (min-width:1024px) {
    .carousel {
        width: 70%;
        flex-direction: row;
        background-color: #f2f6ff;
        align-items: center;

        .col {
            width: 50%;

            .img {
                width: 100%
            }

        }
    }

    .carousel:nth-child(2) {
        flex-direction: row-reverse;
    }
}






.blogPage {
    .cards {
        flex-direction: column;
        width: 80%;
        margin: 50px auto;
        align-items: center;
        justify-content: center;

        .cardsRow {
            .Lcard {
                margin: 50px auto;
                width: 80%;

                .details {
                    flex-direction: column;

                    img {
                        object-fit: cover;
                    }

                    .text {
                        background-color: #f2f6ff;
                    }
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: center;
            gap: 1.5rem;

            span {
                padding: 10px;
                background-color: #f2f6ff;

            }

            span.active {
                background-color: #f2745f;
                color: white;
            }

        }
    }

}


.contactPage {

    .contactForm {
        margin: 50px auto;
        padding: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .colS {

            h2 {
                margin: 50px 0;
                width: 100%;
            }

            form {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;

                .col {
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    fieldset {
                        border: none;
                        width: 100%;

                        input,
                        textarea {
                            border: none;
                            padding: 20px;
                            border-radius: 5px;
                            background-color:
                                #f4f4f4;
                            width: 100%;
                        }

                        textarea {
                            height: 132px;
                        }
                    }

                    button {
                        width: 100%;
                    }
                }
            }

            .text {
                color: #9a9a9a;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 2rem;
            }
        }
    }

    @media (min-width:1024px) {
        section{
            width: 80%;
            margin: auto;
        }
        .contactForm {
            flex-direction: row;

            .colS {
                width: 50%;

                form {
                    flex-direction: row;
                }
            }

        }
    }
}